/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
<<<<<<< HEAD
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --title-decor: #ff8dcb;
  --border-color: var(--title-shadow);
  --corners-color: var(--main-text-color);
  --link-shadow: var(--title-color);
  --rec-color: var(--background-color);
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --article-title-color: var(--main-text-color);
  --section-title-color: var(--main-text-color);

}

.page.theme_light .header__rec {
  display: none;
}
=======
  --main-text-color: #353430;
  --bg-color: #fff1f7;
  --button-color: #353430;
  --button-hover-border: #32312d66;
  --section-header-color: #353430;
  --article-header-color: #353430;
  --main-header-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
  --rec-type: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --bg-color: #fff1f7;
    --button-color: #353430;
    --button-hover-border: #32312d66;
    --section-header-color: #353430;
    --article-header-color: #353430;
    --main-header-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --bg-image: url("../images/cover-image-light.png");
    --rec-type: none;
  }
}
>>>>>>> 3b6fdd8 (aaaad)
