<<<<<<< HEAD
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  --transition-duration: 0.25s;
  --font-family: "IBM Plex mono";
  
  background: var(--background-image) no-repeat top center,
    var(--background-color);
  background-size: auto 768px;
  background-attachment: fixed;
  color: var(--main-text-color);
  transition-duration: var(--transition-duration);
  font-family: var(--font-family);
}

.main {
  padding: 0 20px;
  margin: 60px 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section {
  line-height: 130%;
}

.section__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
}

.dark-title {
  color: var(--article-title-color);
}

.section__article-list {
  display: flex;
  flex-wrap: wrap;
}

.section__article-list-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #F1B2CE;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; 
}

.section__article-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-title_regular {
  font-weight: 400;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section:first-of-type,
.section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section:first-of-type .section__title,
.section:nth-of-type(3) .section__title {
  flex: 0 0 auto;
  width: 33%;
}

.section:first-of-type .section__article-list,
.section:nth-of-type(3) .section__article-list {
  flex: 0 0 auto;
  width: 66%;
  flex-direction: column;
  gap: 20px;
}

.section:nth-of-type(2) .section__title {
  width: 30%;
}

.section:nth-of-type(2) .section__article-item {
  flex: 0 0 auto;
  width: 32%;
}

.section:last-of-type {
  display: grid;
}

.section:last-of-type .section__title {
  grid-column: 1/-1;
  width: 100%;
  margin: 0;
}

.header {
  padding: 0 20px;
  position: relative;
  height: 100vh;
  min-height: 668px;
=======
.page {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  line-height: var(--main-line-height);
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr auto;
  align-items: center;
  justify-items: end;
  padding: var(--main-padding);
}

.decorated-zone {
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-start: var(--main-padding);
  inset-block-end: var(--main-padding);
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--button-color);
  border-inline-start: 1px solid var(--button-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-end: var(--main-padding);
  inset-block-start: var(--main-padding);
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--button-color);
  border-inline-end: 1px solid var(--button-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--button-color);
  padding: 1.5px 13px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.title {
  color: var(--main-header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: 700;
}

.header__title {
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__description {
  justify-self: end;
  align-self: center;
  width: 100%;
>>>>>>> 3b6fdd8 (aaaad)
}

.header__rec {
  position: absolute;
<<<<<<< HEAD
  color: var(--rec-color);
  text-transform: uppercase;
  top: 21px;
  right: 49px;
=======
  display: var(--rec-type);
  color: var(--button-color);
  text-transform: uppercase;
  inset-block-start: var(--main-padding);
  inset-inline-end: calc(var(--main-padding) + 28px);
>>>>>>> 3b6fdd8 (aaaad)
}

.header__rec::after {
  content: "";
  position: absolute;
<<<<<<< HEAD
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corners-color);
  line-height: 100%;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  margin-left: -2%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

.header__title-container {
  padding: 238px 0 136px;
  display: flex;
  flex-direction: column;
  gap: 76px;
}

.header__subtitle {
  color: var(--article-title-color);
  align-self: flex-end;
  font-weight: 700;
  width: 50%;
  line-height: 23.4px;
}

.footer {
  padding: 282px 20px;
  position: relative;
  text-align: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
=======
  display: var(--rec-type);
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--button-color);
  color: var(--button-color);
  background-color: var(--button-color);
  inset-inline-end: -18px;
  inset-block-start: 9px;
}

.content {
  display: grid;
  gap: var(--sections-gap);
  padding: var(--main-content-vertical-padding) var(--main-padding);
}

.section {
  display: grid;
  gap: 20px;
}

.section__header {
  color: var(--section-header-color);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: var(--main-line-height);
}

.section__card-list {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
  align-items: start;
}

.header__description,
.card-header-additional .section__header,
.card-header {
  color: var(--article-header-color);
  background-color: var(--accent-color);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: var(--main-line-height);
}

.third-section .card .card-header {
  font-weight: 400;
}

.card-text {
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: 400;
}

.card-text .accented-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.card-text .accented-link:hover {
  outline: none;
  border-bottom: 1px solid var(--main-text-color);
}

.card-text .accented-link:focus {
  outline: none;
}

.card-text .accented-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.card-images {
  display: grid;
  gap: var(--main-padding);
}

.card-images-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (width >= 768px) {
  :root {
    --main-padding: 20px;
    --main-content-vertical-padding: 60px;
    --sections-gap: 80px;
  }

  .first-section,
  .third-section {
    grid-template-columns: 1fr 2fr;
  }

  .second-section .section__header {
    width: calc(100% / 3 - 20px);
  }

  .images .card {
    gap: 20px;
  }

  .header__title {
    justify-self: left;
    margin-inline-start: calc(-1 * var(--main-padding));
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    width: calc(100% / 2);
  }

  .card-images-image:first-child {
    grid-column: span 2;
  }

  .card-images-image:nth-child(2) {
    grid-row: span 2;
  }

  .card-images-image:nth-child(3) {
    grid-row: span 2;
  }

  .card-images-image:nth-child(5) {
    grid-row: 3/3;
    grid-column: 2/4;
  }
}

@media (width >= 1024px) {
  .second-section .section__card-list {
    grid-template-columns: repeat(3, 1fr);
    align-items: start
  }

  .first-section,
  .third-section {
    grid-template-columns: calc((100% - 40px) / 3) 1fr;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
>>>>>>> 3b6fdd8 (aaaad)
}