/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  --transition-duration: 0.25s;
  --font-family: "IBM Plex mono";
  
  background: var(--background-image) no-repeat top center,
    var(--background-color);
  background-size: auto 768px;
  background-attachment: fixed;
  color: var(--main-text-color);
  transition-duration: var(--transition-duration);
  font-family: var(--font-family);
}

.main {
  padding: 0 20px;
  margin: 60px 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section {
  line-height: 130%;
}

.section__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
}

.dark-title {
  color: var(--article-title-color);
}

.section__article-list {
  display: flex;
  flex-wrap: wrap;
}

.section__article-list-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #F1B2CE;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; 
}

.section__article-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-title_regular {
  font-weight: 400;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section:first-of-type,
.section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section:first-of-type .section__title,
.section:nth-of-type(3) .section__title {
  flex: 0 0 auto;
  width: 33%;
}

.section:first-of-type .section__article-list,
.section:nth-of-type(3) .section__article-list {
  flex: 0 0 auto;
  width: 66%;
  flex-direction: column;
  gap: 20px;
}

.section:nth-of-type(2) .section__title {
  width: 30%;
}

.section:nth-of-type(2) .section__article-item {
  flex: 0 0 auto;
  width: 32%;
}

.section:last-of-type {
  display: grid;
}

.section:last-of-type .section__title {
  grid-column: 1/-1;
  width: 100%;
  margin: 0;
}

.header {
  padding: 0 20px;
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 21px;
  right: 49px;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corners-color);
  line-height: 100%;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  margin-left: -2%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

.header__title-container {
  padding: 238px 0 136px;
  display: flex;
  flex-direction: column;
  gap: 76px;
}

.header__subtitle {
  color: var(--article-title-color);
  align-self: flex-end;
  font-weight: 700;
  width: 50%;
  line-height: 23.4px;
}

.footer {
  padding: 282px 20px;
  position: relative;
  text-align: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
}